body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-section{
    background-image:  linear-gradient(90deg,white,rgb(222, 240, 247));
    height: calc(100vh- 60px);
    min-height: 600px;
    z-index: 2;
    margin-top: 60px;
}
#background-text{
    position: relative;
    color: black;
    width: 498px;
    height: 153px;
    top: 150px;
    left: 220px;
    font-weight: bold;
    text-align: left;
}
.main-section p{
    position: relative;
    top: 150px;
    left: 220px;
    color: #D2D2D2;
    font-size: 33px;
    width: calc(100% - 220px);
}
.other-section{
    background-color: rgb(240, 240, 240);
}
.container{
    background-color: white;
    border-radius: 30px;
    display: block;
    position: relative;
    width: 1024px;
    height: 1715px;
    top: -165px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;

}
#plan-header{
    position: relative;
    top: 165px;
    left: 45px;
    width: 200px;
    height: 131px;
    text-align: left;
    letter-spacing: 0px;
    color: #656565;
    opacity: 1;
    font-weight: bold;
}
.bronze-container{
    display: grid;
    position: relative;
    top: -120px;
    left: 245px;
    width: 250px;
    height: 230px;
    justify-content: center;
}
#bronze-header{
    color: #00D154;
    font-weight: bold;
    text-align: center;
}
.bronze-container h1{
    font-size: 47px;
    color: #656565;
    font-weight: 700;
    text-align: center;
}
.bronze-container p{
    color: #D2D2D2;
    line-height: 0;
    font-size: 20px;
    text-align: center;
}
.activate{
    width: 150px;
    height: 30px;
    border-radius: 45px;
    background: #FF6700 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-width: 0;
    top: 10px;
    position: relative;
}
.silver-container{
    background-color: #0090E8;
    border-radius: 20px;
    display: grid;
    position: relative;
    top: -395px;
    left: 495px;
    width: 250px;
    height: 275px;
    justify-content: center;
    padding-top: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#silver-header{
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.silver-container h1{
    font-size: 47px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}
.silver-container p{
    color: #FFFFFF;
    line-height: 0;
    font-size: 20px;
    text-align: center;
}
.silver-activate{
    width: 150px;
    height: 30px;
    border-radius: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #FF6700;
    box-shadow: 0px 3px 10px #00000029;
    border-width: 0;
    top: 10px;
    position: relative;
}
.gold-container{
    display: grid;
    position: relative;
    top: -625px;
    left: 745px;
    width: 250px;
    height: 230px;
    justify-content: center;
}
#gold-header{
    color: #7A00D1;
    font-weight: bold;
    text-align: center;
}
.gold-container h1{
    font-size: 47px;
    color: #656565;
    font-weight: 700;
    text-align: center;
}
.gold-container p{
    color: #D2D2D2;
    line-height: 0;
    font-size: 20px;
    text-align: center;
}
.activate{
    width: 150px;
    height: 30px;
    border-radius: 45px;
    background: #FF6700 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-width: 0;
    top: 10px;
    position: relative;
}
.detail-container{
    display: grid;
    width: 994px;
    height: 1462px;
    top: 252px;
    z-index: 5;
    position: absolute;
    line-height: 0px;
}
.text-container{
    width: 994px;
    height: 70px;
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.text-container p{
    margin: auto;
    font-family: 'Semibold', 'Segoe UI';
    color: #656565;
    font-size: 16px;
    font-weight: 600;
}
.text-container p.green{
    color: #00D154;
}
.text-container p.blue{
    color: #0090E8;
}
.text-container p.purple{
    color: #7A00D1;
}
.white-container{
    display: flex;
    justify-content: space-around;
    width: 994px;
}
footer .page-footer{
    background-color: #242424;
}
